h1{ font-family: 'Times New Roman', Times, serif;color: darkolivegreen
     ;}
     body{ background-color: black; color: ivory;}
     h2{ font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;background-color: dimgrey ;}
     h3{color: chartreuse;}
     footer{color: chocolate;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}